@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Popinslgt';
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Charm';
  src: url(../fonts/Charm/Charm-Bold.ttf);
}


*{
  margin: 0;
}

/*Navbar do site tendo links, botões e a logo*/
.logo_nav{
  width: 100px;
  margin-left: 30px;
}


.navbar-nav{
  height: 70px;
  display: flex;
}

.navbar-nav .nav-link {
    color: #FFFFFF !important; /* Cor dos links */
    margin-top: 15px;
    font-size: 20px;
    margin-left:30px;
    margin-right: 00px;
    font-family: 'Popinslgt';
    
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: rgb(79, 94, 184) !important; /* Cor dos links ao passar o mouse e quando ativos */
  }

  .corpo_button_nav{
    margin-left: 600px;
    margin-top: 14px;
  }

  .btn-primary{
    padding: 10px 10px;
    font-size: 18px;
    margin-left: 20px;
    font-family: 'Popinslgt';
  }

  .button_nav{ /*Botão da header*/
    position: relative;
    background: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px;
    transition: 0.5s;
    color: #ffffff;
    gap: 2px;
    margin-left: -5px;
    
  }

  .button_nav:hover{
    
    background: var(--clr);
    color:  var(--clr);
    box-shadow: 0 0 35px var(--clr) !important;
  }

  .button_nav:before{
    content: "";
    position: absolute;
    inset: 2px;
    background-color: #aeb3c7;
  }

  .button_nav > span {
    position: relative;
    z-index: 1;
  }

  .button_nav > .item_button{
    position: absolute;
    inset: 0;
    display: block;
  }

  .button_nav > .item_button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: white;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }

  .button_nav:hover .item_button::before{
    width: 20px;
    left: 20%;
  }


  .button_nav > .item_button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: white;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }

  .button_nav:hover .item_button::after{
    width: 20px;
    left: 80%;

  }

  /*Fim da Navbar*/

  /*Começo header*/

  header{
    width: 100%;
    height: 450px;
    background-color: #e6e8f1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header_caixa{
    width: 43%;
    background: #e6e8f1;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header_caixa2{
    width: 47%;
    background: white;
    height: 400px;
  }

  .undraw_header{
    width: 550px;
    margin-left: 50px;
    border-radius: 20px;
  }

  .titulo_header{
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    color: rgb(112, 112, 240);
    font-family: 'Poppinslgt';
  }

  .descricao_header{
    font-size: 24px;
    font-weight: 500;
    margin-bottom:40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  .R_header{
    color: rgb(255, 255, 255);
    font-size: 75px;
    font-family: 'Charm';    
  }



  /*Fim header*/

/*Inicio Sessão sobre */

.sessao_importanteCurriculo{
  width: 100%;
  height: 750px;
  background-color: #9aa9e4;
}

.titulo_importanteCurriculo{
  text-align: center;
  padding-top: 50px;
  font-family: Poppinslgt;
}

.descricao_ImportanteCurriculo{
  width: 45%;
  background-color: #9aa9e4;
  text-align: center;
  margin-top: 90px;
  font-size: 20px;
  margin-left: 40px;
  font-family: Montserrat , sans-serif;
  position: relative;
  float: left;
  color: white;
}

.informacao_ImportanteCurriculo{
  margin-top: 50px;
}




.curriculo_exemplo_corpo{
  width: 40%;
  height: 650px;
  background-color: #9aa9e4;
  position: relative;
  float: left;
  margin-left: 100px;
  margin-top: 30px;
  background-image: url(../img/curriculo_exemplo.jpg);
  background-size: cover;
  transform: scale(0.8);
}




.fonte_Pinterest_corpo{
  position: absolute;
  top: 620px;
  color: red;
}

.vamosla{
  font-size: 42px;
  margin-top: 20px;
  font-family: Charm;
}

/*Fim sessão sobre */


/*Sessão ferramentas inicio*/

.ferramentas_curriculo{
  width: 100%;
  height: 900px;
  background-color: white;

}

.ferramentas_titulo{
  text-align: center;
  padding-top: 50px;
  font-family: Poppinslgt;
}

.corpo_ferramentas{
  width: 100%;
  height: 695px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ferramentas_caixa{
  width: 80%;
  height: 600px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.corpo_word{
  width: 80%;
  height: 100px;
  background-color: #ffffff00;
  margin-bottom: 100px;
  display: flex;
  margin-top: 60px;
  
}

.descricao_word{
  margin-left: 50px;
  text-align: center;
  font-family: Montserrat;
}

.word{
  width: 550px;
  height: 120px;
  background-color: #ffffff00;
  border-radius: 0px;
  background-image: url(../img/word.png);
  background-size: cover;
  margin-right: 20px;
  margin-left: 120px;
}

.corpo_docs{
  width: 80%;
  height: 100px;
  background-color: #ffffff00;
  margin-bottom: 100px;
  display: flex;
}

.descricao_docs{
  margin-left: 60px;
  text-align: center;
  font-family: Montserrat;
}

.docs{
  width: 500px;
  height: 130px;
  background-color: #ffffff;
  border-radius: 0px;
  background-image: url(../img/docs.png);
  background-size: cover;
  margin-left: 100px;
  margin-right: 20px;
}

.corpo_linkedin{
  width: 80%;
  height: 100px;
  background-color: #ffffff00;
  margin-bottom: 100px;
  display: flex;
}

.descricao_linkedin{
  margin-left: 60px;
  text-align: center;
  font-family: Montserrat;
}

.linkedin{
  width: 320px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 0px;
  background-image: url(../img/linkedin.png);
  background-size: cover;
  margin-left: 120px;
  margin-right: 20px;
}


.downloads{
  text-decoration: none;
  font-family: Poppinslgt;
  font-size: 22px;
}

.flaticon{
  color: aqua;
  font-size: 22px;
  text-align: center;
  font-family: Poppinslgt;
  font-weight: bold;
}

/*Sessão ferramentas final*/

/*Sessão nossos Curriculos*/

.titulo_CurriculosExemplares{
  text-align: center;
  padding-top: 50px;
  font-family: Poppinslgt;
  color: #edeff3;
}

.R_curriculos{
  color: rgb(255, 255, 255);
  font-size: 75px;
  font-family: 'Charm';
}

.sessao_curriulos{
  width: 100%;
  height: 1000px;
  background-color: #9aa9e4;
  background-image: url(../img/fundo_curriculo.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.curriculos_carrosel{
  width: 50%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 400px;
  margin-top: 120px;
}

.tamanho{
  width: 600px;
  margin-left: 50px;
}

.tamanho2{
  width: 400px;
  margin-left: 160px;
}

.tamanho3{
  width: 480px;
  margin-left: 140px;
}

.tamanho4{
  width: 530px;
  margin-left: 120px;
}

.tamanho5{
  width: 400px;
  margin-left: 170px;
}

.github_carrosel{
  width: 50px;
  margin-right: 120px;
}

.linkedin_carrosel{
  width: 50px;
  margin-left: 120px;
}

.nome_curriculo{
  color: #0e3dfc;
  margin-bottom: 470px;
}

/*Fim sessão nossos curriculos*/


/*Inicio sessão videos*/
.corpo_sessaovideos{
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.titulo_sessaovideos{
  text-align: center;
  padding-top: 50px;
  font-family: Poppinslgt;
}

/*Footer inicio*/
footer{
  margin-top: 300px;
}

.logo_footer{
width: 80px;  
}

.btn-outline-light{
  color: #9aa9e4;
  border-color: #9aa9e4;
  transition: transform 1s;
}

.btn-outline-light:hover{
  color: #0030ee;
  background-color: #ffffff00;
  border-color: #0030ee;
  transform: rotate(360deg);
  
}

/*Footer fim*/